<div class="card bg-dark employee-card col-lg-3 col-md-12 mb-2 ms-4">
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-glasses me-3"></i>{{ role }}</h3>
    </div>
    <div class="card-body bg-dark">
        <ul class="list-group">
            <li class="list-group-item bg-dark">ID: {{ id }}</li>
            <li class="list-group-item bg-dark">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item bg-dark">GitHub: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
        </ul>
    </div>
</div>
